@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #3c3f51;
}
.container {
  display: flex;
  height: 100vh;
  .sidebar {
    background-color: #282a34;
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: space-between;
    padding: 25px 0;
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        color: #fff;
        margin-right: 10px;
        font-size: 50px;
      }
      img {
        width: 150px;
      }
    }
    .profile {
      display: flex;
      flex-direction: column;
      align-items: center;
      .ring {
        height: 110px;
        width: 110px;
        border-radius: 100px;
        background-color: transparent;
        border: 1px solid darkgoldenrod;
        display: flex;
        align-items: center;
        justify-content: center;
        .dp {
          background-image: url(https://images.unsplash.com/photo-1557153984-b968e8a9cb14?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjR8fGhlYWQlMjBzaG90fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
          height: 100px;
          width: 100px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          border-radius: 100px;
        }
      }
    }
    .num {
      display: flex;
      flex-direction: column;
      align-items: center;
      b {
        color: #fff;
        padding: 5px;
      }
      small {
        color: #9b9b9b;
      }
    }
    .bar {
      width: 1px;
      height: 30px;
      background-color: #9b9b9b;
    }
    .username {
      display: flex;
      flex-direction: column;
      align-items: center;
      b {
        color: #fff;
        padding: 5px;
      }
      small {
        color: #9b9b9b;
      }
    }
    .numbers {
      display: flex;
      padding: 20px;
      width: 75%;
      justify-content: space-between;
      align-items: center;
    }
    .nav {
      display: flex;
      align-items: flex-start;
      margin-left: 25px;
      img {
        width: 25px;
        margin-right: 15px;
      }
      ul {
        list-style: none;
        li {
          display: flex;
          align-items: center;
          color: #fff;
        }
      }
    }
  }
  .main {
    display: flex;
    flex: 8;
  }
}
