@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #3c3f51;
  font-family: Poppins;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.container .sidebar {
  background-color: #282a34;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
}

.container .sidebar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .sidebar .logo i {
  color: #fff;
  margin-right: 10px;
  font-size: 30px;
}

.container .sidebar .logo img {
  width: 100px;
}

.container .sidebar .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .sidebar .profile .ring {
  height: 90px;
  width: 90px;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid #7232bd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .sidebar .profile .ring .dp {
  background-image: url(https://images.unsplash.com/photo-1557153984-b968e8a9cb14?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjR8fGhlYWQlMjBzaG90fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  height: 80px;
  width: 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100px;
  cursor: pointer;
}

.container .sidebar .num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .sidebar .num b {
  color: #fff;
  padding: 5px;
}

.container .sidebar .num small {
  color: #9b9b9b;
}

.container .sidebar .bar {
  width: 1px;
  height: 30px;
  background-color: #9b9b9b;
}

.container .sidebar .username {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.container .sidebar .username b {
  color: #fff;
  padding: 5px;
}

.container .sidebar .username small {
  color: #9b9b9b;
}

.container .sidebar .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  width: 75%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .sidebar .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .sidebar .nav img {
  width: 25px;
  margin-right: 15px;
}

.container .sidebar .nav ul {
  list-style: none;
}

.container .sidebar .nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 8px 0;
  cursor: pointer;
  font-size: 13px;
}

.container .sidebar .nav .line {
  width: 200px;
  height: 0.08px;
  background-color: #9b9b9b;
  margin: 10px 0;
}

.container .sidebar .nav li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
}

.container .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 25px 20px;
}

.container .main .topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .main .topbar img {
  width: 30px;
}

.container .main .topbar .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #282a34;
  border-radius: 10px;
}

.container .main .topbar .left input {
  background-color: transparent;
  outline: none;
  border: none;
  color: #fff;
}

.container .main .topbar .left img {
  margin: 0 10px;
}

.container .main .topbar .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25%;
}

.container .main .topbar .right .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #673886;
  background: -webkit-gradient(linear, left top, right top, from(#7232bd), to(#f46f30));
  background: linear-gradient(90deg, #7232bd 0%, #f46f30 100%);
  cursor: pointer;
  padding: 7px 15px;
  border-radius: 5px;
}

.container .main .topbar .right .btn small {
  color: #fff;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.267);
  border-radius: 100px;
  margin-right: 7px;
}

.container .main .topbar .right .btn p {
  color: #fff;
}

.container .main .topbar .right .noti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.container .main .topbar .right .noti sup {
  background-color: red;
  width: 5px;
  height: 5px;
  border-radius: 50px;
}

.container .main .topbar .right .direct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.container .main .topbar .right .direct sup {
  background-color: red;
  width: 5px;
  height: 5px;
  border-radius: 50px;
}

.container .main .stories-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .main .stories-cont .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.container .main .stories-cont .top .watch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 24px 0;
  cursor: pointer;
}

.container .main .stories-cont .top .watch i {
  font-size: 7px;
  margin-right: 5px;
  background-color: transparent;
  border: 0.5px solid #fff;
  padding: 7px;
  border-radius: 50px;
}

.container .main .stories-cont .stories {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.container .main .stories-cont .stories .story {
  width: 60px;
  height: 60px;
  margin: 0 5px;
  cursor: pointer;
}

.container .main .stories-cont .stories .img1 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100px;
  background-image: url(https://images.unsplash.com/photo-1599528844624-0fd700bbe9a0?ixid=MXwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8MTJ8fHxlbnwwfHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  border: 0.5px solid #7232bd;
}

.container .main .stories-cont .stories .img2 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100px;
  background-image: url(https://images.unsplash.com/photo-1554151228-14d9def656e4?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8cG9ydHJhaXR8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  border: 0.5px solid #7232bd;
}

.container .main .stories-cont .stories .img3 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100px;
  background-image: url(https://images.unsplash.com/photo-1519345182560-3f2917c472ef?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OXx8cG9ydHJhaXR8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  border: 0.5px solid #7232bd;
}

.container .main .stories-cont .stories .img4 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100px;
  background-image: url(https://images.unsplash.com/photo-1506634572416-48cdfe530110?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTF8fHBvcnRyYWl0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  border: 0.5px solid #7232bd;
}

.container .main .stories-cont .stories .img5 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100px;
  background-image: url(https://images.unsplash.com/photo-1492288991661-058aa541ff43?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mzh8fHBvcnRyYWl0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  border: 0.5px solid #7232bd;
}

.container .main .stories-cont .stories .img6 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100px;
  background-image: url(https://images.unsplash.com/photo-1463453091185-61582044d556?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzF8fHBvcnRyYWl0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  border: 0.5px solid #7232bd;
}

.container .main .stories-cont .stories .img7 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100px;
  background-image: url(https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjF8fHBvcnRyYWl0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  border: 0.5px solid #7232bd;
}

.container .main .stories-cont .stories .img8 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100px;
  background-image: url(https://images.unsplash.com/photo-1599753558482-08ac12195069?ixid=MXwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8M3x8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  border: 0.5px solid #7232bd;
}

.container .main .stories-cont .stories .img9 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100px;
  background-image: url(https://images.unsplash.com/photo-1503135935062-b7d1f5a0690f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjJ8fHNleHl8ZW58MHx8MHw%3D&auto=format&fit=crop&w=500&q=60);
  border: 0.5px solid #7232bd;
}

.container .main .feeds-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.container .main .feeds-cont .text {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.container .main .feeds-cont .text small {
  margin-left: 7px;
}

.container .main .feeds-cont .feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .main .feeds-cont .feed img {
  max-width: 150px;
  border-radius: 7px;
  margin: 10px;
  cursor: pointer;
}

.container .main .feeds-cont .feed .feed-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.css.map */