@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
}
.container {
  height: 100vh;
  background-color: #1a1a1a;
  display: flex;
  font-family: Poppins;

  .sidebar {
    height: 100vh;
    display: flex;
    flex: 2;
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    i {
      margin-right: 10px;
    }
    h1 {
      margin: 30px 0px;
    }
    p {
      padding: 10px;
      font-size: 16px;
    }
    li {
      list-style-type: none;
      margin: 7px 0;
      padding: 15px 60px;
      font-size: 14px;
      text-align: left;
      span {
        padding: 5px;
        color: #1eff00;
        background-color: rgba(0, 255, 13, 0.281);
        border-radius: 100px;
        margin-left: 50px;
      }
      &:hover {
        background: rgb(175, 144, 242);
        background: linear-gradient(
          90deg,
          rgba(175, 144, 242, 1) 0%,
          rgba(0, 212, 255, 1) 100%
        );
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }
  .main {
    height: 100vh;
    display: flex;
    flex: 5;
    background-color: #1f1f1f;
  }
  .stats {
    border-left: 0.01px solid #292929;
    height: 100vh;
    display: flex;
    flex: 3;
    background-color: #1f1f1f;
  }
}
.active {
  background: rgb(175, 144, 242);
  background: linear-gradient(
    90deg,
    rgba(175, 144, 242, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 10px;
  font-size: 14px;
}
