@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  background-color: #1a1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Poppins;
  overflow: hidden;
}

.container .sidebar {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .sidebar i {
  margin-right: 10px;
}

.container .sidebar h1 {
  margin: 30px 0px;
}

.container .sidebar p {
  padding: 10px;
  font-size: 16px;
}

.container .sidebar li {
  list-style-type: none;
  margin: 7px 0;
  padding: 15px 60px;
  font-size: 14px;
  text-align: left;
}

.container .sidebar li span {
  padding: 5px;
  color: #1eff00;
  background-color: rgba(0, 255, 13, 0.281);
  border-radius: 100px;
  margin-left: 50px;
}

.container .sidebar li:hover {
  background: #af90f2;
  background: -webkit-gradient(linear, left top, right top, from(#af90f2), to(#00d4ff));
  background: linear-gradient(90deg, #af90f2 0%, #00d4ff 100%);
  border-radius: 10px;
  cursor: pointer;
}

.container .main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  background-color: #1f1f1f;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .main .breadcrumb {
  margin: 30px 0px;
}

.container .main .breadcrumb p {
  color: #fff;
}

.container .main .breadcrumb p span {
  color: #dbdbdb;
}

.container .main h1 {
  color: #fff;
  padding: 30px;
}

.container .main .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .main .search .searchbar {
  background-color: #1a1a1a;
  padding: 15px 40px;
  border-radius: 50px;
}

.container .main .search .searchbar input {
  background-color: transparent;
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 15px;
  color: #fff;
}

.container .main .search .position {
  background-color: #1a1a1a;
  padding: 15px 40px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-left: 7px;
}

.container .main .search .position i {
  margin-left: 10px;
  color: #dbdbdb;
}

.container .main .search i {
  color: #dbdbdb;
  margin-right: 10px;
}

.container .main .search .more {
  background-color: #1a1a1a;
  padding: 15px 40px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  margin-left: 7px;
  cursor: pointer;
}

.container .main .search .more i {
  margin-left: 10px;
  color: #dbdbdb;
}

.container .main .search i {
  color: #dbdbdb;
  margin-right: 10px;
}

.container .team {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: auto;
}

.container .team .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.container .team .row .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #1a1a1a;
  border-radius: 20px;
  padding: 20px;
  height: 150px;
  width: auto;
}

.container .team .row .profile p {
  color: #fff;
}

.container .team .row .profile small {
  color: #585858;
}

.container .team .row .profile .bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.container .team .row .profile .bar p {
  color: #585858;
}

.container .team .row .profile .bar i {
  color: #585858;
}

.container .team .row .profile .img {
  background-color: #292929;
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.container .team .row .profile .progress {
  margin: 20px auto;
  padding: 0;
  width: 90px;
  height: 10px;
  overflow: hidden;
  background: #383838;
  border-radius: 20px;
  margin: 0 10px;
}

.container .team .row .profile .progress .bar {
  height: 100%;
  background: #af90f2;
  background: -webkit-gradient(linear, left top, right top, from(#af90f2), to(#00d4ff));
  background: linear-gradient(90deg, #af90f2 0%, #00d4ff 100%);
}

.container .stats {
  border-left: 0.01px solid #292929;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  background-color: #1f1f1f;
}

.active {
  background: #af90f2;
  background: -webkit-gradient(linear, left top, right top, from(#af90f2), to(#00d4ff));
  background: linear-gradient(90deg, #af90f2 0%, #00d4ff 100%);
  border-radius: 10px;
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */